$colorSelected: #005931;

$colorHover: #fff;
$colorOut: #008e4e;

.nav-tabs {
    border-bottom-color: $colorSelected;

    a {
        color: $colorOut;

        &:hover {
            color: $colorHover;
        }
    }

    .nav-item.show .nav-link,
    .nav-link.active {
        border-color: $colorSelected;
        background-color: $colorSelected;
        color: $colorHover;
    }
}
