.countdown {
    margin-top: 25px;

    .form-control {
        background-color: #000;
        border-color: #00669e;
        color: #ddd;

        &:disabled {
            background-color: #4a809e;
            font-style: italic;
        }

        &::-webkit-calendar-picker-indicator {
            filter: invert(90%);
        }
    }

    .input-group-text {
        background-color: #00669e;
        border-color: #00669e;
        color: #ddd;
    }
}
