.breadcrumb {
    background-color: unset;
    border-radius: 0;
    font-size: 0.9rem;
    margin: 0;
    padding: 0.5rem;

    .breadcrumb-item a {
        color: #aaa;

        &:hover {
            color: #fff;
        }
    }
}
