@keyframes linkHover {
    0% {
        transform: rotate(0);
    }
    40% {
        transform: rotate(15deg);
    }
    80% {
        transform: rotate(9deg);
    }
    100% {
        transform: rotate(15deg);
    }
}

.home-nav {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin: 100px auto 0;
    max-width: 650px;
    width: 85%;

    .home-link {
        display: block;
        position: relative;

        @media (max-width: 499px) {
            margin-right: 10%;
            width: 40%;

            &:nth-child(2n) {
                margin-right: 0;
            }
            &:nth-child(n + 3) {
                margin-top: 3%;
            }
        }

        @media (min-width: 500px) and (max-width: 699px) {
            margin-right: 3%;
            width: 30%;

            &:nth-child(3n) {
                margin-right: 0;
            }
            &:nth-child(n + 4) {
                margin-top: 3%;
            }
        }

        @media (min-width: 700px) {
            margin-right: 5%;
            width: 20%;

            &:nth-child(4n) {
                margin-right: 0;
            }
            &:nth-child(n + 5) {
                margin-top: 3%;
            }
        }

        span {
            color: #000;
            font-size: 24px;
            font-weight: bold;
            position: absolute;
            text-align: center;
            top: calc(50% - 12px);
            width: 100%;
            z-index: 2;
        }

        svg {
            display: block;
            height: 100%;
            width: 100%;
        }

        &:hover {
            svg {
                animation: linkHover 0.2s linear forwards;
            }
        }
    }
}
