@import '@util/style/mixin';

$color: #007c5b;
$colorHover: #00dda2;

.home-link-button {
    background-color: #000;
    border: 2px solid $color;
    border-radius: 2rem;
    color: $color;
    cursor: pointer;
    display: block;
    flex: 0 1 auto;
    font-weight: 700;
    margin: 2.5%;
    padding: 2.5%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 45%;

    @include multiTransition(('background-color', 'border-color', 'color'));

    &:hover {
        background-color: rgba($colorHover, 0.1);
        border-color: $colorHover;
        color: $colorHover;
        text-decoration: none;
    }
}
