@mixin multiTransition($props, $speed: 0.2s, $easing: 'linear', $delay: 0s) {
    @debug 'props - ' + $props;
    @debug 'speed - ' + $speed;
    @debug 'easing - ' + $easing;
    @debug 'delay - ' + $delay;

    $list: ();

    @each $prop in $props {
        $list: append($list, unquote($speed + ' ' + $easing + ' ' + $prop), comma);
    }

    transition: $list;
    @debug 'list - ' + $list;
}
