.buttons {
    display: flex;
    justify-content: center;

    button {
        &:nth-child(n + 2) {
            margin-left: 10px;
        }
    }
}

.modal-content {
    form {
        .row {
            &:nth-child(n + 2) {
                margin-top: 10px;
            }
        }

        .split {
            color: #0d0;
        }
    }
}

.workout-list {
    flex-flow: column nowrap;
    margin: 30px auto;
    max-width: 400px;

    .workout-entry {
        border-left: 1px solid rgba(140, 130, 115, 0.13) !important;
        border-radius: 0.25rem !important;
        transition: box-shadow linear 0.1s;

        &:nth-child(n + 2) {
            margin-top: 10px;
        }

        &:hover {
            box-shadow: 0 0 3px #ddd;
        }

        .body {
            .value-entry {
                display: flex;
                justify-content: space-between;

                &.half {
                    max-width: 50%;
                    width: 50%;
                }

                &:hover {
                    background: #333;
                }

                .title {
                    font-weight: bold;
                }
                .value {
                    // color: #3b69ff;
                }
            }
        }

        .header {
            display: flex;
            justify-content: space-around;

            .date {
                color: #fff;
                font-style: italic;
            }
            .title {
                font-weight: bold;
            }
        }
    }
}
