.buttons {
    display: flex;
    justify-content: center;

    button {
        &:nth-child(n + 2) {
            margin-left: 10px;
        }
    }
}

.modal-content {
    form {
        .row {
            &:nth-child(n + 2) {
                margin-top: 10px;
            }
        }

        .split {
            color: #0d0;
        }
    }
}
