.tab-content {
    .tab {
        background: #000;
        border-radius: 10px;
        box-shadow: 0 0 10px #000;
        margin: 10px auto 0 auto;
        max-width: 750px;
        padding: 10px;
    }
}
